---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import SEO from '../components/SEO.astro';
import '../styles/global.css';

interface Props {
  title: string;
  description: string;
  type?: 'website' | 'article';
  publishDate?: Date;
  author?: string;
  tags?: string[];
}

const { title, description, type, publishDate, author, tags } = Astro.props;
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <SEO
      title={title}
      description={description}
      type={type}
      publishDate={publishDate}
      author={author}
      tags={tags}
    />
    <link rel="icon" type="image/png" href="/images/logo.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Inter:wght@400;500;600;700;800;900&family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
